mat-card {
  max-width: 80%;
  margin: 2em auto;
  align-items: center;
}

mat-card-actions {
  gap: 10px;
}

.full-width {
  min-width: 100%;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

.mat-mdc-card-content {
  min-width: 100%;
}

.green {
  background-color: green;
}
